

  <!-- Forms -->
  <a name="forms"><h2># Forms</h2></a>

  <!-- Input text -->
  <h4>Input text</h4>
  Add a class <code>.form-input</code> to your text-based input fields.

  <!-- Input text demo -->
  <div class="box">
    <input type="text" class="form-input" placeholder="Put your text here">
  </div>

  <!-- Input text code -->
  <pre>&lt;input type="text" class="form-input" placeholder="Put your text here"&gt;</pre>

  <!-- Input disabled -->
  <p>Additionally, you can add a <code>disabled</code> attribute to your input text field:</p>

  <!-- Input disabled demo -->
  <div class="box">
    <input type="text" class="form-input" placeholder="Disabled input" disabled>
  </div>

  <!-- Input disabled code -->
  <pre>&lt;input type="text" class="form-input" placeholder="Disabled input" disabled&gt;</pre>


  <!-- Input submit -->
  <h4>Input submit</h4>
  You can add the class <code>.form-input</code> to your submit input fields:

  <!-- Input submit demo -->
  <div class="box">
    <input type="submit" class="form-input" value="Submit form">
  </div>

  <!-- Input submit code -->
  <pre>&lt;input type="submit" class="form-input" value="Submit form"&gt;</pre>


  <!-- Select -->
  <h4>Select</h4>
  Add the class <code>.form-select</code> to your drop-down list tag:

  <!-- Select demo -->
  <div class="box">
    <select class="form-select">
      <option>Element 1</option>
      <option>Element 2</option>
      <option>Element 3</option>
      <option>Element 4</option>
    </select>
  </div>

  <!-- Select code -->
  <pre>&lt;select class="form-select"&gt;<br> &lt;option&gt;Element 1&lt;/option&gt;<br> &lt;option&gt;Element 2&lt;/option&gt;<br> &lt;option&gt;Element 3&lt;/option&gt;<br> &lt;option&gt;Element 4&lt;/option&gt;<br>&lt;/select&gt;</pre>

  <!-- Textarea -->
  <h4>Textarea</h4>
  Simply add the class <code>.form-textarea</code> and modify the attribute <code>rows</code> with the number of rows.

  <!-- Textarea demo -->
  <div class="box">
    <textarea class="form-textarea" rows="4" placeholder="Your text"></textarea>
  </div>

  <!-- Textarea code -->
  <pre>&lt;textarea class="form-textarea" rows="4" placeholder="Your text"&gt;&lt;/textarea&gt;</pre>


  <!-- Spaces -->
  <br>




  <!-- Spaces -->
  <br>


  <!-- Alerts -->
  <a name="alerts"><h2># Alerts</h2></a>

  <!-- Basic alert -->
  You can create a blue alert adding the <code>.alert</code> class to your div.

  <!-- Basic alert demo -->
  <div class="box">
    <div class="alert">This is an alert, <a href="#">and this is a link inside the alert</a>.</div>
  </div>

  <!-- Basic alert code -->
  <pre>&lt;div class="alert alert-blue"&gt;This is an alert.&lt;/div&gt;</pre>

  <!-- Colors available -->
  <p>You can change the alert color adding <code>.alert-green</code> <code>.alert-orange</code> and <code>.alert-red</code> for make the alert green, orange and red respectively.</p>

  <!-- Colors demo -->
  <div class="box">
    <div class="alert alert-green">This is a <b>green</b> alert, <a href="#">and this is a link inside the alert</a>.</div>
    <div class="alert alert-orange">This is an <b>orange</b> alert, <a href="#">and this is a link inside the alert</a>.</div>
    <div class="alert alert-red">This is a <b>red</b> alert, <a href="#">and this is a link inside the alert</a>.</div>
  </div>

  <!-- Colors code -->
  <pre>&lt;div class="alert alert-green"&gt;This is a &lt;b&gt;green&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-orange"&gt;This is a &lt;b&gt;orange&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-red"&gt;This is a &lt;b&gt;red&lt;/b&gt; alert.&lt;/div&gt;</pre>

  <!-- Icons available -->
  <p>Also, you can add an icon to your alert. These are the available icons:</p>

  <!-- Alerts icons demo -->
  <div class="box">
    <div class="alert alert-success">This is a <b>success</b> alert.</div>
    <div class="alert alert-warning">This is a <b>warning</b> alert.</div>
    <div class="alert alert-error">This is an <b>error</b> alert.</div>
  </div>

  <!-- Alerts icons code -->
  <pre>&lt;div class="alert alert-success"&gt;This is a &lt;b&gt;success&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-warning"&gt;This is a &lt;b&gt;warning&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-error"&gt;This is an &lt;b&gt;error&lt;/b&gt; alert.&lt;/div&gt;</pre>



  <!-- Spaces -->
  <br>

  <!-- Panels -->
  <a name="panels"><h2># Panels</h2></a>

  <!-- Default panels -->
  A panel consists in one <code>div</code> with the class <code>.panel</code>, and two <code>div</code> inside,
  the first with the class <code>.panel-head</code> and the second with the class <code>.panel-body</code>.

  <!-- Default panels demo -->
  <div class="box">
    <div class="panel">
      <div class="panel-head">Panel</div>
      <div class="panel-body">This is the content of the panel</div>
    </div>
  </div>

  <pre>&lt;div class="panel"&gt;<br>&lt;div class="panel-head"&gt;Panel&lt;/div&gt;<br>&lt;div class="panel-body"&gt;This is the content of the panel&lt;/div&gt;<br>&lt;/div&gt;</pre>


  <!-- Spaces -->
  <br>

  <!-- Tables -->
  <a name="tables"><h2># Tables</h2></a>

  <!-- Basic table -->
  <h4>Basic table</h4>
  Simply add <code>.table</code> to the class of your table.

  <!-- Basic table demo -->
  <div class="box">
    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td>Col1</td>
          <td>Col2</td>
          <td>Col3</td>
        </tr>
      </thead>
      <tr>
        <td>Row1</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Row2</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
    </table>
  </div>

  <!-- Basic table code -->
  <pre>&lt;table class="table"&gt; ... &lt;/table&gt;</pre>


  <!-- Hover table -->
  <h4>Hover table</h4>
  Add <code>.table-hover</code> to the class of your table.

  <!-- Hover table demo -->
  <div class="box">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>#</td>
          <td>Col1</td>
          <td>Col2</td>
          <td>Col3</td>
        </tr>
      </thead>
      <tr>
        <td>Row1</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Row2</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
    </table>
  </div>

  <!-- Hover table code -->
  <pre>&lt;table class="table table-hover"&gt; ... &lt;/table&gt;</pre>


  <!-- Striped table -->
  <h4>Striped rows table</h4>
  Add <code>.table-striped</code> to the class of your table.

  <!-- Basic table demo -->
  <div class="box">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>#</td>
          <td>Col1</td>
          <td>Col2</td>
          <td>Col3</td>
        </tr>
      </thead>
      <tr>
        <td>Row1</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Row2</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Row3</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Row4</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
    </table>
  </div>

  <!-- Striped table code -->
  <pre>&lt;table class="table table-striped"&gt; ... &lt;/table&gt;</pre>


  <!-- Bordered table -->
  <h4>Bordered table</h4>
  Add <code>.table-border</code> to the class of your table.

  <!-- Bordered table demo -->
  <div class="box">
    <table class="table table-border">
      <thead>
        <tr>
          <td>#</td>
          <td>Col1</td>
          <td>Col2</td>
          <td>Col3</td>
        </tr>
      </thead>
      <tr>
        <td>Row1</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Row2</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
    </table>
  </div>

  <!-- Bordered table code -->
  <pre>&lt;table class="table table-border"&gt; ... &lt;/table&gt;</pre>

  <p>Additionally you can add the colum border adding <code>.table-border-colum</code>.

  <!-- Bordered column table demo -->
  <div class="box">
    <table class="table table-border-column">
      <thead>
        <tr>
          <td>#</td>
          <td>Col1</td>
          <td>Col2</td>
          <td>Col3</td>
        </tr>
      </thead>
      <tr>
        <td>Row1</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
      <tr>
        <td>Row2</td>
        <td>Item</td>
        <td>Item</td>
        <td>Item</td>
      </tr>
    </table>
  </div>

  <!-- Bordered column table code -->
  <pre>&lt;table class="table table-border-column"&gt; ... &lt;/table&gt;</pre>

<!-- Close right panel -->
</div>


<% include ../layouts/foot %>
