<!-- Alerts -->
<h3>ALERTS</h3>

<!-- Basic alert -->
<p>You can create a blue alert adding the <code>.alert</code> class to your div. The default color
for the alert is <code>blue</code>, but you can change it by adding <code>.alert-[type]</code> class
to the alert, where <code>[type]</code> can be <code>done</code>, <code>warning</code> or <code>error</code>.</p>

<!-- Basic alert demo -->
<div class="alert">This is an alert, <a href="#">and this is a link inside the alert</a>.</div>
<div class="alert alert-done">This is a <b>done</b> alert.</div>
<div class="alert alert-warning">This is a <b>warning</b> alert.</div>
<div class="alert alert-error">This is an <b>error</b> alert.</div>

<!-- Basic alert code -->
<pre>
&lt;div class="alert"&gt;This is an alert.&lt;/div&gt;
&lt;div class="alert alert-done"&gt;This is a done alert.&lt;/div&gt;
&lt;div class="alert alert-warning"&gt;This is a warning alert.&lt;/div&gt;
&lt;div class="alert alert-error"&gt;This is an error alert.&lt;/div&gt;
</pre>
