<!-- Alerts -->
<h3>ALERTS</h3>

<!-- Basic alert -->
<p>You can create a blue alert adding the <code>.alert</code> class to your div. The default code
for the alert is <code>blue</code>.</p>

<!-- Basic alert demo -->
<div class="box">
  <div class="alert">This is an alert, <a href="#">and this is a link inside the alert</a>.</div>
</div>

<!-- Basic alert code -->
<pre>&lt;div class="alert"&gt;This is an alert.&lt;/div&gt;</pre>

<!-- Colors available -->
<p>You can change the alert color by adding <code>.alert-[color]</code> class to the alert, where
<code>[color]</code> can be <code>green</code>, <code>orange</code> or <code>red</code>.</p>

<!-- Colors demo -->
<div class="box">
  <div class="alert alert-green">This is a <b>green</b> alert.</div>
  <div class="alert alert-orange">This is an <b>orange</b> alert.</div>
  <div class="alert alert-red">This is a <b>red</b> alert.</div>
</div>

<!-- Colors code -->
<pre>
&lt;div class="alert alert-green"&gt;Green alert.&lt;/div&gt;
&lt;div class="alert alert-orange"&gt;Orange alert.&lt;/div&gt;
&lt;div class="alert alert-red"&gt;Red alert.&lt;/div&gt;
</pre>
