<!-- Alerts -->
<h3>ALERTS</h3>

<!-- Basic alert -->
<p>You can create a blue alert adding the <code>.alert</code> class to your div.</p>

<!-- Basic alert demo -->
<div class="box">
  <div class="alert">This is an alert, <a href="#">and this is a link inside the alert</a>.</div>
</div>

<!-- Basic alert code -->
<pre>&lt;div class="alert alert-blue"&gt;This is an alert.&lt;/div&gt;</pre>

<!-- Colors available -->
<p>You can change the alert color adding <code>.alert-green</code> <code>.alert-orange</code> and <code>.alert-red</code> for make the alert green, orange and red respectively.</p>

<!-- Colors demo -->
<div class="box">
  <div class="alert alert-green">This is a <b>green</b> alert, <a href="#">and this is a link inside the alert</a>.</div>
  <div class="alert alert-orange">This is an <b>orange</b> alert, <a href="#">and this is a link inside the alert</a>.</div>
  <div class="alert alert-red">This is a <b>red</b> alert, <a href="#">and this is a link inside the alert</a>.</div>
</div>

<!-- Colors code -->
<pre>&lt;div class="alert alert-green"&gt;This is a &lt;b&gt;green&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-orange"&gt;This is a &lt;b&gt;orange&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-red"&gt;This is a &lt;b&gt;red&lt;/b&gt; alert.&lt;/div&gt;</pre>

<!-- Icons available -->
<p>Also, you can add an icon to your alert. These are the available icons:</p>

<!-- Alerts icons demo -->
<div class="box">
  <div class="alert alert-success">This is a <b>success</b> alert.</div>
  <div class="alert alert-warning">This is a <b>warning</b> alert.</div>
  <div class="alert alert-error">This is an <b>error</b> alert.</div>
</div>

<!-- Alerts icons code -->
<pre>&lt;div class="alert alert-success"&gt;This is a &lt;b&gt;success&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-warning"&gt;This is a &lt;b&gt;warning&lt;/b&gt; alert.&lt;/div&gt;<br>&lt;div class="alert alert-error"&gt;This is an &lt;b&gt;error&lt;/b&gt; alert.&lt;/div&gt;</pre>

<!-- Spaces -->
<br>
