<!-- Alerts -->
<h3>ALERTS</h3>

<!-- Basic alert -->
<p>You can create a blue alert adding the <code>.alert</code> class to your div. The default color
for the alert is <code>blue</code>, but you can change it by adding <code>.alert-[color]</code> class
to the alert, where <code>[color]</code> can be <code>green</code>, <code>orange</code> or <code>red</code>.</p>

<!-- Basic alert demo -->
<div class="alert">This is an alert, <a href="#">and this is a link inside the alert</a>.</div>
<div class="alert alert-green">This is a <b>green</b> alert.</div>
<div class="alert alert-orange">This is an <b>orange</b> alert.</div>
<div class="alert alert-red">This is a <b>red</b> alert.</div>

<!-- Basic alert code -->
<pre>
&lt;div class="alert"&gt;This is an alert.&lt;/div&gt;
&lt;div class="alert alert-green"&gt;This is a green alert.&lt;/div&gt;
&lt;div class="alert alert-orange"&gt;This is an orange alert.&lt;/div&gt;
&lt;div class="alert alert-red"&gt;This is a red alert.&lt;/div&gt;
</pre>
