<!-- Buttons -->
<h3>BUTTONS</h3>

<p>Add a <code>.btn</code> class to transform your <code>div</code>, <code>a</code> or <code>button</code> element
into a normal button, or add the <code>.btn-outlie</code> class to transform your element to an outline button.
You can change the button size by adding a <code>.btn-small</code> or <code>.btn-big</code> class.</p>

<!-- Normal buttons demo -->
<div align="center">
  <div class="btn btn-small">Small button</div>
  <div class="btn">Default button</div>
  <div class="btn btn-big">Big button</div>
</div>

<!-- Outline buttons demo -->
<div align="center">
  <div class="btn-outline btn-small">Small button</div>
  <div class="btn-outline">Default button</div>
  <div class="btn-outline btn-big">Big button</div>
</div>

<!-- Buttons code -->
<pre>
&lt;!-- Normal buttons --&gt;
&lt;div class="btn btn-small"&gt;Small button&lt;/div&gt;
&lt;div class="btn"&gt;Default button&lt;/div&gt;
&lt;div class="btn btn-big"&gt;Big button&lt;/div&gt;

&lt;!-- Outline buttons --&gt;
&lt;div class="btn-outline btn-small"&gt;Small button&lt;/div&gt;
&lt;div class="btn-outline"&gt;Default button&lt;/div&gt;
&lt;div class="btn-outline btn-big"&gt;Big button&lt;/div&gt;
</pre>


<!-- Color buttons -->
<p>You can change the button color by adding a new class to your button with the next style:</p>

<!-- Color buttons code -->
<pre>
&lt;!-- For change the normal button color --&gt;
.btn-color { background-color: [color]; }

&lt;!-- For change the outline button color --&gt;
.btn-outline-color { border-color: [color]; color: [color]; }
.btn-outline-color:hover { background-color: [color]; color: #ffffff; }
</pre>
