<!-- Buttons -->
<h3>BUTTONS</h3>

<p>Add a <code>.btn</code> class to transform your <code>div</code>, <code>a</code>, etc... into a button.
Optionally, add a <code>.btn-[color]</code> class for modifying the color.</p>

<!-- Normal buttons demo -->
<div class="box">
  <div class="btn">Default button</div>
  <div class="btn btn-green">Green button</div>
  <div class="btn btn-orange">Orange button</div>
  <div class="btn btn-red">Red button</div>
  <div class="btn btn-purple">Purple button</div>
</div>

<!-- Normal buttons code -->
<pre>&lt;div class="btn"&gt;Default button&lt;/div&gt;<br>&lt;div class="btn btn-green"&gt;Green button&lt;/div&gt;<br>&lt;div class="btn btn-orange"&gt;Orange button&lt;/div&gt;<br>&lt;div class="btn btn-red"&gt;Red button&lt;/div&gt;<br>&lt;div class="btn btn-purple"&gt;Purple button&lt;/div&gt;</pre>

<!-- Size buttons -->
<p>Additionally, you can change the button size adding a <code>.btn-small</code> or <code>.btn-big</code> class.</p>

<!-- Size buttons demo -->
<div class="box">
  <div class="btn btn-blue btn-small">Small button</div>
  <div class="btn btn-green btn-big">Big button</div>
</div>

<!-- Size buttons code -->
<pre>&lt;div class="btn btn-blue btn-small"&gt;Small button&lt;/div&gt;<br>&lt;div class="btn btn-green btn-big"&gt;Big button&lt;/div&gt;</pre>


<p><b>Siimple</b> also comes with outline buttons. Simply add the <code>.btn-outline</code> class to your element:</p>

<!-- Outline buttons demo -->
<div class="box">
  <div class="btn-outline">Outline button</div>
</div>

<!-- Outline buttons code -->
<pre>&lt;div class="btn-outline"&gt;Outline button&lt;/div&gt;</pre>

<!-- Spaces -->
<br><br>
