<!-- Forms -->
<h3>FORMS</h3>

<!-- Input text -->
<p>Add a class <code>.form-input</code> to your text-based <code>input</code> fields (text, password and submit types),
<code>.form-select</code> to your <code>select</code> fields, and <code>.form-textarea</code> to your
<code>textarea</code>. By default, the width of all form elements is <b>100%</b>, but you can adjust the width to
the content by adding the <code>.form-auto</code> class.</p>

<!-- Demo -->
<div class="row">

  <!-- Input -->
  <div class="col-6"><input type="text" class="form-input" placeholder="Your email"></div>

  <!-- Select  -->
  <div class="col-6"><select class="form-select"><option>Male</option><option>Female</option></select></div>

</div>

<!-- Textarea -->
<div class="row">
  <div class="col-12">
    <textarea class="form-textarea" rows="4" placeholder="Your text"></textarea>
  </div>
</div>

<!-- Submit -->
<div class="row">
  <div class="col-12">
    <input type="submit" class="form-input" value="Submit form">
  </div>
</div>

<!-- Select code -->
<pre>
&lt;!-- Input text --&gt;
&lt;input type="text" class="form-input" placeholder="Your email"&gt;

&lt;!-- Select --&gt;
&lt;select class="form-select"&gt;
  &lt;option&gt;Male&lt;/option&gt;
  &lt;option&gt;Female&lt;/option&gt;
&lt;/select&gt;

&lt;!-- Textarea --&gt;
&lt;textarea class="form-textarea"&gt;&lt;/textarea&gt;

&lt;!-- Submit --&gt;
&lt;input type="submit" class="form-input" value="Submit form"&gt;
</pre>
