<!-- Forms -->
<h3>FORMS</h3>

<!-- Input text -->
<h4>Input text</h4>
<p>Add a class <code>.form-input</code> to your text-based input fields.</p>

<!-- Input text demo -->
<div class="box">
  <input type="text" class="form-input" placeholder="Put your text here">
</div>

<!-- Input text code -->
<pre>&lt;input type="text" class="form-input"&gt;</pre>

<!-- Input disabled -->
<p>Additionally, you can add a <code>disabled</code> attribute to your input text field:</p>

<!-- Input disabled demo -->
<div class="box">
  <input type="text" class="form-input" placeholder="Disabled input" disabled>
</div>

<!-- Input disabled code -->
<pre>&lt;input type="text" class="form-input" disabled&gt;</pre>


<!-- Input submit -->
<h4>Input submit</h4>
<p>You can add the class <code>.form-input</code> to your submit input fields:</p>

<!-- Input submit demo -->
<div class="box">
  <input type="submit" class="form-input" value="Submit form">
</div>

<!-- Input submit code -->
<pre>&lt;input type="submit" class="form-input" value="Submit form"&gt;</pre>


<!-- Select -->
<h4>Select</h4>
<p>Add the class <code>.form-select</code> to your drop-down list tag:</p>

<!-- Select demo -->
<div class="box">
  <select class="form-select">
    <option>Element 1</option>
    <option>Element 2</option>
    <option>Element 3</option>
    <option>Element 4</option>
  </select>
</div>

<!-- Select code -->
<pre>
&lt;select class="form-select"&gt;
  &lt;option&gt;Element 1&lt;/option&gt;
  &lt;option&gt;Element 2&lt;/option&gt;
  &lt;option&gt;Element 3&lt;/option&gt;
  &lt;option&gt;Element 4&lt;/option&gt;
&lt;/select&gt;
</pre>

<!-- Textarea -->
<h4>Textarea</h4>
<p>Simply add the class <code>.form-textarea</code> and modify the attribute <code>rows</code> with the number of rows.</p>

<!-- Textarea demo -->
<div class="box">
  <textarea class="form-textarea" rows="4" placeholder="Your text"></textarea>
</div>

<!-- Textarea code -->
<pre>&lt;textarea class="form-textarea"&gt;&lt;/textarea&gt;</pre>
