<!-- Tables -->
<h3>TABLES</h3>

<!-- Tables description -->
<p>Simply add <code>.table</code> to the class of your table.
You can add a row into a <code>&lt;thead&gt;</code>, and this row will be the head of tour table.
Tables always comes with full width property.</p>

<!-- Table demo -->
<table class="table table-striped">
  <thead>
    <tr>
      <td>#</td>
      <td>Col1</td>
      <td>Col2</td>
      <td>Col3</td>
    </tr>
  </thead>
  <tr>
    <td>Row1</td>
    <td>Item</td>
    <td>Item</td>
    <td>Item</td>
  </tr>
  <tr>
    <td>Row2</td>
    <td>Item</td>
    <td>Item</td>
    <td>Item</td>
  </tr>
  <tr>
    <td>Row3</td>
    <td>Item</td>
    <td>Item</td>
    <td>Item</td>
  </tr>
  <tr>
    <td>Row4</td>
    <td>Item</td>
    <td>Item</td>
    <td>Item</td>
  </tr>
</table>

<!-- Table code -->
<pre>&lt;table class="table"&gt; ... &lt;/table&gt;</pre>
