<!-- Typography -->
<h3>TYPOGRAPHY</h3>

<p><b>Siimple</b> uses <a href="https://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a>
as the default font. The default <code>font-size</code> is <b>16</b>, and the default <code>font-weight</code> is <b>300</b>.
<b>Siimple</b> comes with <b>bold tag</b>, <i>italic</i>, <u>underline</u>, <a>liks</a> and <small>small text</small>.
The default text color is <code>#353f4a</code>, and the emphasis color is <code>#09a0f6</code>.
</p>

<!-- Headings -->
<h4>Headings</h4>

<p>Heading comes with a default <code>margin-bottom</code> of <b>10px</b>, and each tag has his own <code>line-height</code>.
Headings also uses a <b>300</b> <code>font-weight</code>, instead of <b>bold</b>.</p>

<!-- Grid for the heading example -->
<div class="row">

  <!-- Colum with the demo -->
  <div class="col-5">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>

  <!-- Columns with the code -->
  <div class="col-5">
    <pre>&lt;h1&gt;Heading 1&lt;/h1&gt;<br>&lt;h2&gt;Heading 2&lt;/h2&gt;<br>&lt;h3&gt;Heading 3&lt;/h3&gt;<br>&lt;h4&gt;Heading 4&lt;/h4&gt;<br>&lt;h5&gt;Heading 5&lt;/h5&gt;<br>&lt;h6&gt;Heading 6&lt;/h6&gt;</pre>
  </div>

</div>

<!-- Code -->
<h4>Code</h4>

<p>Use the <code>&lt;code&gt;</code> tag to show an inline code, or use the <code>&lt;pre&gt;</code>
tag if you want to show one or more lines of code. Both tags uses <b>Open Sans</b> font for the code.</p>

<!-- Code demo -->
<div class="box">
  For underline text, you can use the <code>&lt;u&gt;</code> tag!
</div>

<!-- Code code -->
<pre>For underline text, you can use the &lt;code&gt;&amp;lt;u&amp;gt;&lt;/code&gt; tag!</pre>
