<!-- Typography -->
<h3>TYPOGRAPHY</h3>

<p><b>Siimple</b> uses <a href="https://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a>
as the default font. The default font-size is 16, and the default font-weight is 300 (light).
<b>Siimple</b> comes with <b>bold tag</b>, <i>italic</i>, <u>underline</u>, <a>links</a> and <small>small text</small>.
The default text color is <b>#526475</b>, and the emphasis color is <b>#09a0f6</b>.
</p>

<!-- Grid for the heading example -->
<div class="row">

  <!-- Colum with the demo -->
  <div class="col-5 docs-example">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>

  <!-- Columns with the code -->
  <div class="col-7">

    <!-- Headings description -->
    <p>Heading comes with a default margin-bottom of 20px, and each tag has his own line-height.</p>

    <!-- Headings code -->
    <pre>&lt;h1&gt;Heading 1&lt;/h1&gt;<br>&lt;h2&gt;Heading 2&lt;/h2&gt;<br>&lt;h3&gt;Heading 3&lt;/h3&gt;<br>&lt;h4&gt;Heading 4&lt;/h4&gt;<br>&lt;h5&gt;Heading 5&lt;/h5&gt;<br>&lt;h6&gt;Heading 6&lt;/h6&gt;</pre>

  </div>

</div>
