<!-- Typography -->
<h3>TYPOGRAPHY</h3>

<p><b>Siimple</b> uses <a href="https://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a>
as the default font. The default font-size is <b>16</b>, and the default font-weight is <code>300</code>.
<b>Siimple</b> comes with <b>bold tag</b>, <i>italic</i>, <u>underline</u>, <a>liks</a> and <small>small text</small>.
The default text color is <code>#353f4a</code>, and the emphasis color is <code>#09a0f6</code>.
</p>

<!-- Grid for the heading example -->
<div class="row">

  <!-- Colum with the demo -->
  <div class="col-6">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
  </div>

  <!-- Columns with the code -->
  <div class="col-6">

    <!-- Headings description -->
    <p>Heading comes with a default margin-bottom of <b>10px</b>, and each tag has his own line-height.
    Headings also uses a <code>300</code> font-weight, instead of <code>bold</code>.</p>
    <p>The <code>H6</code> heading comes with <code>#6a7e95</code> color.</p>

    <!-- Headings code -->
    <pre>&lt;h1&gt;Heading 1&lt;/h1&gt;<br>&lt;h2&gt;Heading 2&lt;/h2&gt;<br>&lt;h3&gt;Heading 3&lt;/h3&gt;<br>&lt;h4&gt;Heading 4&lt;/h4&gt;<br>&lt;h5&gt;Heading 5&lt;/h5&gt;<br>&lt;h6&gt;Heading 6&lt;/h6&gt;</pre>
  </div>

</div>
