<!-- Typography -->
<h3>TYPOGRAPHY</h3>

<p><b>Siimple</b> uses <a href="https://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a>
as the default font. The default <code>font-size</code> is <b>16</b>, and the default <code>font-weight</code> is <b>300</b>.
<b>Siimple</b> comes with <b>bold tag</b>, <i>italic</i>, <u>underline</u> and <a>liks</a>.
The default text color is <code>#536273</code>, and the emphasis color is <code>#09a0f6</code>.
</p>

<!-- Headings -->
<h4>Headings</h4>
<p>Heading comes with a default <code>margin-bottom</code> of <b>20px</b>, and each tag has his own <code>line-height</code>.
Headings also uses a <b>300</b> <code>font-weight</code>, instead of <b>bold</b>.</p>

<!-- Headings demo -->
<div class="box">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
</div>

<!-- Headings code -->
<pre>&lt;h1&gt;Heading 1&lt;/h1&gt;<br>&lt;h2&gt;Heading 2&lt;/h2&gt;<br>&lt;h3&gt;Heading 3&lt;/h3&gt;<br>&lt;h4&gt;Heading 4&lt;/h4&gt;<br>&lt;h5&gt;Heading 5&lt;/h5&gt;<br>&lt;h6&gt;Heading 6&lt;/h6&gt;<br></pre>


<!-- Boxes -->
<h4>Boxes</h4>
You can create a box adding the class <code>.box</code> to a div.

<!-- Boxes demos -->
<div class="box">
  Hi, this is a box!
  <br>You can write multiple lines in a box, and put <a href="#">links too!</a>.
</div>

<!-- Boxes code -->
<pre>&lt;div class="box"&gt;Hi, ... &lt;/div&gt;</pre>


<!-- Code -->
<h4>Code</h4>

<p>Use the <code>&lt;code&gt;</code> tag to show an inline code, or use the <code>&lt;pre&gt;</code> tag if you want to show one or more lines of code. Both tags uses <b>Open Sans</b>.</p>

<!-- Code demo -->
<div class="box">
  For underline text, you can use the <code>&lt;u&gt;</code> tag!
</div>

<!-- Code code -->
<pre>For underline text, you can use the &lt;code&gt;&amp;lt;u&amp;gt;&lt;/code&gt; tag!</pre>


<!-- Blockquote -->
<h4>Blockquote</h4>

<!-- Blockquote demo -->
<div class="box">
  <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
</div>

<!-- Blockquote code -->
<pre>&lt;blockquote&gt;Lorem ipsum ...&lt;/blockquote&gt;</pre>

<!-- Spaces -->
<br><br>
