<% include layouts/head %>

<!-- Title -->
<title>Getting Started · Siimple</title>

<!-- Head -->
<div class="docs-head" align="center"><a href="./">Siimple</a></div>

<!-- Grid main -->
<div class="grid main">

  <!-- Getting started title -->
  <h1>Getting started</h1>

  <p>First of all, you must download your copy of <b>Siimple</b>. You have four methods:</p>


  <!-- Download from GitHub -->
  <h3>Download from GitHub (recommended)</h3>

  <p>You can download a <code>zip</code> or a <code>tar.gz</code> with the lates release of <b>Siimple</b>
  from <a href="<%= releases %><%= latest %>" target="_blank">here</a>.</p>


  <!-- Using NPM -->
  <h3>Using NPM</h3>

  <p>You can use <a href="https://www.npmjs.com/package/siimple" target="_blank">NPM</a> for download the
  latest version of <b>Siimple</b>. For this, open a new console window, navigate to you project home and
  run the next command:</p>

  <pre>npm install siimple</pre>

  <p>This will download <b>Siimple</b> and place it on <code>node-modules/siimple</code>. You can simply enter
  on this folder and copy the </code>css</code>, which have the compiled version of <b>Siimple</b>, to your
  project public folder.</p>

  <p>Note that you must have <code>NPM</code> installed on your computer for download <b>Siimple</b> using
  this method.</b>


  <!-- Using Bower -->
  <h3>Using Bower</h3>

  <p>You can use <a href="http://bower.io" target="_blank">Bower</a> for download your copy of <b>Siimple</b>.
  Same as <b>NPM</b>, navigate to your project root folder and run the next command:</p>

  <pre>bower install siimple</pre>

  <p>You must have <code>bower</code> installed on your computer for use this option.</p>


  <!-- Clone the repo -->
  <h3>Clone the repo</h3>

  <p>Also, you can download <b>Siimple</b> cloning the repository hosted on
  <a href="https://github.com" target="_blank">GitHub</a>. Simply open a new console window and run the next
  command: </p>

  <pre>git clone https://github.com/siimple/siimple.git</pre>

  <p>If you want to download a stable version, don't use this method, because this repository is in
  continuous development. You must have <code>git</code> installed on your computer for do this.</p>


  <!-- Spaces -->
  <br><br><br>

  <p>Ok, if you now have your copy of <b>Siimple</b> downloaded, the next step is adding the next line to
  the <code>head</code> of every <b>HTML</b> document where you want to use <b>Siimple</b>:</p>

  <pre>&lt;link rel="stylesheet" type="text/css" href="path/siimple.css"&gt;</pre>

  <p>Additionally, you can add the minimized version of <b>Siimple</b>:</p>

  <pre>&lt;link rel="stylesheet" type="text/css" href="path/siimple.min.css"&gt;</pre>

  <p>Thats all! Now you can check the <a href="./reference">reference</a> guide for start using <b>Siimple</b>.</p>



  <!-- Close the grid main -->
  </div>

<% include layouts/foot %>
