<% include layouts/head %>

<!-- Title -->
<title>Getting Started · Siimple</title>

<!-- Head -->
<div class="docs-head" align="center"><a href="./">Siimple</a></div>

<!-- Grid main -->
<div class="grid main">

  <!-- Getting started title -->
  <h1>Getting started</h1>

  <!-- Docs description -->
  Here you can check the getting started guides and how to use <b>Siimple</b>.<br><br>


  <!-- References title -->
  <h1>Reference for v<%= latest %></h1>

  <!-- Description -->
  <p>The reference docs tell you about the components included on the latest version of <b>Siimple</b>,
    and how to use them.</p>

  <% include ref/typography %>
  <% include ref/buttons %>
  <% include ref/forms %>
  <% include ref/alerts %>
  <% include ref/panels %>
  <% include ref/tables %>
  <% include ref/grid %>


<!-- Close the grid main -->
</div>

<% include layouts/foot %>
