<% include layouts/head %>

<!-- Title -->
<title>Minimal CSS framework for flat and clean designs · Siimple</title>

<!-- Page cover -->
<div class="cover" align="center">

  <!-- Title -->
  <div class="cover-title">Siimple</div>

  <!-- Description -->
  <div class="cover-description">Minimal CSS framework for flat and clean designs.</div>

  <!-- Buttons -->
  <a href="./getting-started" class="btn-outline cover-btn">Getting started</a>
  <a href="https://github.com/siimple/siimple/" class="btn-outline cover-btn">View on GitHub</a>

  <!-- Latest -->
  <br><span class="text-small">Latest version v<%= version %></span>

</div>

<!-- Grid main -->
<div class="grid main">

  <!-- About title -->
  <h1>About Siimple</h1>

  <!-- About description -->
  <p><b>Siimple</b> is a minimal and responsive CSS framework for flat and clean designs, build with SASS/SCSS.
  The framework also comes with a 5Kb minimized version. It provides a clean and fast starting point for your front-end 
  developments.</p>
  <p>Siimple is <b>licensed under the MIT License</b>. It means that you can use, modify and
  redistribute it without restrictions :) </p>

  <!-- Documentation -->
  <h1>Getting Started</h1>

  <!-- Documentation description -->
  <p>Read the <a href="./getting-started">getting started guide</a> for information about how to download and
  install <b>Siimple</b>, or read the <a href="./reference">reference guide</a> for view all the components.</p>

</div>

<% include layouts/foot %>
