<% include layouts/head %>

<!-- Title -->
<title>Minimal CSS framework for flat and clean websites · Siimple</title>

<!-- Page cover -->
<div class="cover" align="center">

  <!-- Title -->
  <div class="cover-title">Siimple</div>

  <!-- Description -->
  <div class="cover-description">Minimal CSS framework for flat and clean websites.</div>

  <!-- Buttons -->
  <a href="./getting-started" class="btn-outline cover-btn">Getting started</a>
  <a href="https://github.com/siimple/siimple/" class="btn-outline cover-btn">View on GitHub</a>

  <!-- Latest -->
  <br><span class="text-small">Latest version <%= latest %></span>

</div>

<!-- Grid main -->
<div class="main grid main">

  <!-- About title -->
  <h1>About Siimple</h1>

  <!-- About description -->
  <p><b>Siimple</b> is a minimal CSS framework for flat and clean websites, created initially for my projects.
  I don't want to compete with Bootstrap, because it is insuperable.</p>
  <p><b>Licensed under the MIT License</b>, it means that you can use, modify and redistribute it without restrictions.
  If you use <b>Siimple</b> in your project I would see it in action, so please send me an email :) </p>

  <!-- Documentation -->
  <h1>Getting Started</h1>

  <!-- Documentation description -->
  <p>Read the <a href="./getting-started">getting started guide</a> for information about how to download and
  install <b>Siimple</b>, or read the <a href="./reference">reference guide</a> for view all the components.</p>

  <!-- Contributing -->
  <h1>Contributing</h1>

  <!-- Contributing description -->
  <p>You can contribute with <b>Siimple</b> installing it and submitting issues and pull requests :)</p>

</div>

<% include layouts/foot %>
