
  <!-- Foot -->
  <div class="foot" align="center">
    Made with <span class="heart"></span> by <a href="http://jm.juanes.xyz/">Josemi Juanes</a>
    using <a href="<%= url %>">Siimple</a>.
  </div>

</body>
</head>
