<html>
<head>

	<!-- Metas tag -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<!-- Descripcion -->
	<meta name="description" content="Minimal CSS framework for flat and clean designs.">
	<meta name="author" content="Jose Miguel Juanes">
	<meta name="keywords" content="jmjuanes, juanes, josemi, siimple, css, ui, flat, clean, websites, minimal">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/opensans.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Include Siimple -->
	<link rel="stylesheet" type="text/css" href="v/<%= latest %>/siimple.min.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.ico">

</head>
<body>

	<!-- Navbar -->
	<div class="navbar">

		<!-- Items -->
		<a href="./reference" class="navbar-link">Reference</a>
		<a href="./getting-started" class="navbar-link">Getting started</a>

	</div>
